/Zpotify/nbproject/private/
/Zpotify/build/
/Zpotify/dist/
Zpotify/nbproject/project.xml
Zpotify/nbproject/build-impl.xml
Zpotify/nbproject/genfiles.properties
Zpotify/nbproject/project.properties
Zpotify/nbproject/project.xml
Zpotify/src/zpotify/gui/FXMLDocument.fxml
