/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5. dec. 2019, 18.47.55
    Author     : Peter
*/

.list-cell:even { 
    -fx-background-color: #222222;
   
}

.list-cell:odd {
    -fx-background-color: #333333;
   
}

.list-cell:filled:hover {
    -fx-background-color: #666666;
    -fx-text-fill: white;
}

.list-view {
  -fx-background-insets: 0;
  -fx-padding: 0;
  -fx-background-color: #222222;
}

.list-view .list-cell:even {
-fx-text-fill: white;
}
.list-view .list-cell:odd {
-fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#a1a8ff  0%, #b59fff 25%, #DF8EFF 75%, #f684ff 100%);
    -fx-text-fill: white;
}