/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12. dec. 2019, 11.59.44
    Author     : Peter
*/

.slider .track {
    -fx-background-color: #white;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider .thumb {
    -fx-pref-height: 12;
    -fx-pref-width: 12;
    -fx-background-color: linear-gradient(#a1a8ff  0%, #b59fff 25%, #DF8EFF 75%, #f684ff 100%);
}